<h4><a href="/">Home</a></h4>

<h1>Add Ranger to Database</h1>

<form action="/ranger/new" method="post">
  <label>Ranger</label>
  <input type="text" name="name">
  <label>Email</label>
  <input type="text" name="email">
  <label>Badge ID</label>
  <input type="text" name="badgeNumber">

  <button type="submit">Add Ranger</button>

</form>
